.container {
  padding: 20px;
  margin: 20px;
}

.switchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.switch {
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
}

.switchActive {
  width: 80px;
  height: 40px;
  background-color: green;
  border-radius: 20px;
  position: relative;
}

.slider {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.sliderActive {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 50px;
}
