.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  background: linear-gradient(#4169e1, #00008b);
}

.pageTitle {
  color: white;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}

.open {
  padding: 12px 24px;
  color: white;
  background-color: deepskyblue;
  border-radius: 8px;
  border: #ccc solid 2px;
}

.close {
  color: white;
  background-color: deepskyblue;
  padding: 12px 24px;
  border-radius: 8px;
  border: #ccc solid 2px;
}

.accordionMenu {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.accordionItem {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
}

.question {
  font-size: 20px;
  padding: 12px 24px;
  color: navy;
  border-radius: 8px;
}

.icon {
  color: deepskyblue;
}
