.button {
  color: whitesmoke;
  background-color: #4169e1;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    transform: translateY(-2px);
    background-color: #3153b5;
  }

  &:hover:active,
  &:active {
    transform: translateY(2px); /* クリック中は沈む */
  }
}

.buttonDisabled {
  color: whitesmoke;
  background-color: #e6e6e6;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  pointer-events: none;
}
