.accordionItem {
  background-color: white;
  width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
}

.question {
  font-weight: bold;
  font-size: 12px;
  padding: 12px 24px;
  color: navy;
  border-radius: 8px;
}

.icon {
  font-size: 12px;
  color: deepskyblue;
}
