.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
}

.pageTitle {
  font-size: 20px;
  text-align: center;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}
