.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-inline: auto;
  width: 800px;
}

.tabContent {
  background-color: whitesmoke;
  padding: 40px;
  height: 100%;
}

.tabGroup {
  display: flex;
  bottom: 0;
  width: 100%;
}
