.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.contentDark {
  background-color: black;
}

.button {
  padding: 12px 24px;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: black;
  color: white;
}

.dark {
  background-color: white;
  color: black;
}
