.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
}

.counterWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.counterItem {
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  width: 300px;
}

.textArea {
  border-radius: 5px;
  border: darkgrey solid 2px;
  min-height: 300px;
  padding: 20px;
}

.hoge {
  display: flex;
  justify-content: center;
}

.clearButton {
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: hotpink;
  border-radius: 5px;
  width: 300px;
}
