.container {
  height: 100vh;
  background: linear-gradient(#4169e1, #00008b);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  gap: 20px;
}

.progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: relative;
  width: 100%;
}

.bar {
  width: 100%;
  height: 30px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.activeBar {
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 0%; // 静的ならここをゼロにしておく
  transition: width 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

.pa {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actionButtonWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.completeBanner {
  text-align: center;
  background-color: salmon;
  font-weight: bold;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
}
