.container {
  height: 100vh;
  background: linear-gradient(#4169e1, #00008b);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  gap: 20px;
}

.progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: relative;
  width: 100%;
}

.bar {
  width: 100%;
  height: 30px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.activeBar {
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 0%; // 静的ならここをゼロにしておく
  transition: width 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

.pa {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.controllerWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.hoge {
  display: flex;
  gap: 20px;
}

.addButton {
  color: whitesmoke;
  background-color: #4169e1;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    transform: translateY(-2px);
    background-color: #3153b5;
  }

  &:hover:active,
  &:active {
    transform: translateY(2px); /* クリック中は沈む */
  }
}

.addDisabled {
  color: whitesmoke;
  background-color: #e6e6e6;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  pointer-events: none;
}

.fuga {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.resetButton {
  font-weight: bold;
  color: dimgray;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    transform: translateY(-2px);
    background-color: lightgray;
  }

  &:hover:active,
  &:active {
    transform: translateY(2px); /* クリック中は沈む */
  }
}

.completeButton {
  font-weight: bold;
  color: whitesmoke;
  background-color: mediumseagreen;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  transition:
    background-color 0.2s,
    transform 0.2s;

  &:hover {
    transform: translateY(-2px);
    background-color: #34925e;
  }

  &:hover:active,
  &:active {
    transform: translateY(2px); /* クリック中は沈む */
  }
}

.completeDisabled {
  font-weight: bold;
  color: whitesmoke;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  pointer-events: none;
}

.completeBanner {
  text-align: center;
  background-color: salmon;
  font-weight: bold;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
}
