.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin-inline: auto;
}

.tabContent {
  background-color: whitesmoke;
  padding: 40px;
  height: 100%;
}

.tabGroup {
  display: flex;
}
