@use "/src/styles/mixin.module.scss" as mixin;

.container {
  width: 100%;
  padding: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  color: gray;

  @include mixin.sp {
    padding: 20px;
    flex-direction: column;
  }

  &.active {
    color: blue;
    border-bottom: blue solid 3px;
  }
}
