.button {
  font-weight: bold;
  font-size: 2vw;
  color: white;
  width: 15vw;
  min-width: 50px;
  max-width: 200px;
}

.add {
  background-color: orangered;
}
.minus {
  background-color: dodgerblue;
}
.multiply {
  background-color: darkgreen;
}
