.container {
  background: linear-gradient(#1e90ff, #465daa);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.title {
  color: white;
}

.subTitle {
  color: white;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.list {
  color: dodgerblue;
  display: block;
  padding: 10px;
  width: 500px;
  background: #fffffff2;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
