.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.like {
  color: white;
  background-color: #ff4081;
  border-radius: 8px;
  padding: 16px 32px;
}

.counter {
  font-size: 50px;
  font-weight: bold;
  color: #ff4081;
}

.reset {
  color: black;
  background-color: #ccc;
  border-radius: 2px;
  padding: 8px 16px;
}
